<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <connectionStrings>
      <add name="default" connectionString="Server=(local)\SQLEXPRESS;Database=master;User Id=sa;Password=!QAZxsw2;"/>
   </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
